# OS
.DS_Store
Thumbs.db

# Gradle
.gradle
build

# IDE
out/
.idea
*.iml
.idea_modules/
.vscode/
.classpath
.project
.settings/

# Java
hs_err_pid*

# Dev runtime (gradlew runClient)
run

# Session logs
logs
